<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="{{ path('home') }}">
            <img src="{{ asset("assets/images/icon/logo.png") }}" alt="Logo de l'agence" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="{{ path('home') }}">
                        <i class="fas fa-tachometer-alt"></i>Les voyages
                    </a>
                </li>
                <li>
                    <a href="{{ path('stages') }}">
                        <i class="fas fa-map-marker-alt"></i>Les étapes
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>